#messi{
width: 50%;
height: auto;
}

body {
  background-color:skyblue;
  font-family: Arial, Helvetica, sans-erif;
  font-size:100%;
  text-alingn: justify;
  margin-left:  100px;
margin-right: 500px;  
}

aside{
  background-color:yellow;
  color:red;
  float:right;
}
